<h2>Listagem de Produtos</h2>

<p-table [value]="produtos">
	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="idProduto">
				# <p-sortIcon field="idProduto"></p-sortIcon>
			</th>
			<th pSortableColumn="descricao">
				Descrição
				<p-sortIcon field="descricao"></p-sortIcon>
			</th>
			<th>
				Marca
			</th>
			<th pSortableColumn="preco">
				Preco
				<p-sortIcon field="preco"></p-sortIcon>
			</th>
			<th pSortableColumn="quantidadeEstoque">
				Quantidade
				<p-sortIcon field="quantidadeEstoque"></p-sortIcon>
			</th>
			<th pSortableColumn="tipoProduto.descricao">
				Tipo
				<p-sortIcon field="tipoProduto.descricao"></p-sortIcon>
			</th>
			<th></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-produto>
		<tr>
			<td>{{ produto.idProduto }}</td>
			<td>{{ produto.descricao }}</td>
			<td>{{ produto.marca }}</td>
			<td>{{ produto.preco }}</td>
			<td>{{ produto.quantidadeEstoque }}</td>
			<td>{{ produto.tipoProduto.descricao }}</td>
			<td>
				<button pButton class="p-button-warning p-button-rounded" [icon]="'fa-solid fa-pen'" pTooltip="Editar" tooltipPosition="left" (click)="editarProduto(produto)"></button>
			</td>
		</tr>
	</ng-template>
</p-table>
