<div>
	<form (ngSubmit)="onSubmit(produtoForm)" #produtoForm="ngForm" class="grid p-fluid">
		<h3 class="col-12">
			Cadastro de produto
		</h3>

		<div class="col-6">
			<label for="descricaoProduto">Descrição do produto</label>
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon">
					<i class="fa-solid fa-cake-candles"></i>
				</span>
				<input pInputText id="descricao-produto" name="descricaoProduto" type="text" [(ngModel)]="produto.descricao"
					[minlength]="3" [required]="true" placeholder="Bolo de prestigio"/>
			</div>
		</div>

		<div class="col-6">
			<label for="descricaoProduto">Marca</label>
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon">
					<i class="fa-solid fa-registered"></i>
				</span>
				<input pInputText id="marca" name="marca" type="text" [(ngModel)]="produto.marca"
					[minlength]="3" [required]="true" placeholder="Lazuli"/>
			</div>
		</div>

		<div class="col-6">
			<label for="tipoProduto">
				Tipo de produto
			</label>
			<p-dropdown [(ngModel)]="produto.tipoProduto" name="tipoProduto" [options]="tiposProduto" optionLabel="descricao"></p-dropdown>
		</div>

		<div class="col-6">
			<label for="unidadeMedida">Unidade de medida</label>
			<p-dropdown [(ngModel)]="produto.unidadeMedida" name="unidadeMedida" [options]="unidadesMedida" optionLabel="simbolo"></p-dropdown>
		</div>
	</form>
</div>
