<div>
	<form (ngSubmit)="onSubmit(produtoForm)" #produtoForm="ngForm" class="grid p-fluid">
		<h3 class="col-12">
			Cadastro de produto
		</h3>

		<div class="col-6">
			<label for="descricao-produto">Descrição do produto</label>
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon">
					<i class="fa-solid fa-cake-candles"></i>
				</span>
				<input pInputText id="descricao-produto" name="descricaoProduto" type="text" [(ngModel)]="produto.descricao"
					[minlength]="3" [required]="true" placeholder="Bolo de prestigio"/>
			</div>
		</div>

		<div class="col-6">
			<label for="tipo-produto">
				Tipo de produto
			</label>
			<p-dropdown [(ngModel)]="produto.tipoProduto" id="tipo-produto" name="tipoProduto" [options]="tiposProduto" optionLabel="descricao"></p-dropdown>
		</div>

		<div class="col-6">
			<label for="marca">Marca</label>
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon">
					<i class="fa-solid fa-registered"></i>
				</span>
				<input pInputText id="marca" name="marca" type="text" [(ngModel)]="produto.marca"
					[minlength]="3" [required]="isProdutoIngrediente()" placeholder="Lazuli" [disabled]="!isProdutoIngrediente()"/>
			</div>
		</div>

		<div class="col-6">
			<label for="unidade-medida">Unidade de medida</label>
			<p-dropdown [(ngModel)]="produto.unidadeMedida" id="unidade-medida" name="unidadeMedida" [options]="unidadesMedida" optionLabel="simbolo"></p-dropdown>
		</div>

		<div class="col-1">
			<button pButton label="Salvar" icon="fa-solid fa-floppy-disk" iconPos="right"></button>
		</div>
	</form>
</div>
