<p-messages [(value)]="messages"></p-messages>

<h2>Lista de Compras</h2>

<p-table #tabelaCompra [value]="compras" [paginator]="true" [totalRecords]="compras.length" [rows]="10" [rowsPerPageOptions]="[5,10,20,50]" [columns]="cols">
	<ng-template pTemplate="caption" class="grid">
		<div class="col-2 flex justify-content-between">
			<button pButton class="col-4 p-button-secondary p-button-rounded" [icon]="'fa-solid fa-file-csv'" pTooltip="Exportar CSV" [tooltipPosition]="'bottom'" (click)="tabelaCompra.exportCSV()"></button>
			<button pButton class="col-4 p-button-danger p-button-rounded" [icon]="'fa-solid fa-file-pdf'" pTooltip="Exportar PDF" [tooltipPosition]="'bottom'" (click)="exportarPDF(tabelaCompra.filteredValue)"></button>
			<button pButton class="col-4 p-button-success p-button-rounded" [icon]="'fa-solid fa-file-excel'" pTooltip="Exportar Excel" [tooltipPosition]="'bottom'" (click)="exportarExcel()"></button>
		</div>
	</ng-template>

	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="idCompra">
				#
				<p-sortIcon field="idCompra"></p-sortIcon>
				<p-columnFilter type="numeric" field="idCompra" display="menu"></p-columnFilter>
			</th>
			<th pSortableColumn="fornecedor">
				Fornecedor
				<p-sortIcon field="fornecedor"></p-sortIcon>
				<p-columnFilter type="text" field="fornecedor" display="menu"></p-columnFilter>
			</th>
			<th pSortableColumn="quantidadeTotalProdutos">
				Quantidade
				<p-sortIcon field="quantidadeTotalProdutos"></p-sortIcon>
				<p-columnFilter type="numeric" field="quantidadeTotalProdutos" display="menu"></p-columnFilter>
			</th>
			<th pSortableColumn="totalGasto">
				Gasto
				<p-sortIcon field="totalGasto"></p-sortIcon>
				<p-columnFilter type="numeric" field="totalGasto" display="menu" currency="BRL"></p-columnFilter>
			</th>
			<th pSortableColumn="dataCompra">
				Data
				<p-sortIcon field="dataCompra"></p-sortIcon>
				<p-columnFilter type="date" field="dataCompra" display="menu"></p-columnFilter>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-compra>
		<tr>
			<td>{{ compra.idCompra }}</td>
			<td>{{ compra.fornecedor }}</td>
			<td>{{ compra.quantidadeTotalProdutos }}</td>
			<td>{{ compra.totalGasto | currency:'BRL':'R$ ':'1.2' }}</td>
			<td>{{ compra.dataCompra | date:'dd/MM/yyyy' }}</td>
		</tr>
	</ng-template>
</p-table>
