<h2>Lista de Compras</h2>

<p-table [value]="listaCompra" [paginator]="true" [totalRecords]="listaCompra.length" [rows]="10" [rowsPerPageOptions]="[5,10,20,50]">
	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="idCompra">
				# <p-sortIcon field="idCompra"></p-sortIcon>
			</th>
			<th pSortableColumn="fornecedor">
				Fornecedor <p-sortIcon field="fornecedor"></p-sortIcon>
			</th>
			<th>
				Quantidade
			</th>
			<th>
				Gasto
			</th>
			<th>
				Data
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-compra>
		<tr>
			<td>{{ compra.idCompra }}</td>
			<td>{{ compra.fornecedor }}</td>
			<td>{{ getTotalProdutos(compra) }}</td>
			<td>{{ getTotalGasto(compra) | currency:'BRL':'R$ ':'1.2' }}</td>
			<td>{{ compra.dataCompra }}</td>
		</tr>
	</ng-template>
</p-table>
