<h2>Lista de Vendas</h2>

<p-table [value]="vendas" [paginator]="true" [totalRecords]="vendas.length" [rows]="10" [rowsPerPageOptions]="[5, 10, 20, 50]">
	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="idVenda">
				#
				<p-sortIcon field="idVenda"></p-sortIcon>
			</th>
			<th pSortableColumn="cliente">
				Cliente
				<p-sortIcon field="cliente"></p-sortIcon>
			</th>
			<th [pSortableColumn]="'dataVenda'">
				Data
				<p-sortIcon field="dataVenda"></p-sortIcon>
			</th>
			<th [pSortableColumn]="'quantidadeTotalProdutos'">
				Qtd. Produtos
				<p-sortIcon field="quantidadeTotalProdutos"></p-sortIcon>
			</th>
			<th [pSortableColumn]="'valorTotalVenda'">
				Total
				<p-sortIcon field="valorTotalVenda"></p-sortIcon>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-venda>
		<tr>
			<td>
				{{ venda.idVenda }}
			</td>
			<td>
				{{ venda.nomeCliente ? venda.nomeCliente : 'Não informado' }}
			</td>
			<td>
				{{ venda.dataVenda | date:'dd/MM/yyyy'}}
			</td>
			<td>
				{{ venda.quantidadeTotalProdutos }}
			</td>
			<td>
				{{ venda.valorTotalVenda | currency : "BRL" : "R$ " : "1.2" }}
			</td>
		</tr>
	</ng-template>
</p-table>
