<h2>Lista de Vendas</h2>

<p-table #tabelaVendas [value]="vendas" [columns]="cols" [paginator]="true" [totalRecords]="vendas.length" [rows]="10" [rowsPerPageOptions]="[5, 10, 20, 50]">
	<ng-template pTemplate="caption">
		<p-button [icon]="'fa-solid fa-file-csv'" pTooltip="Exportar CSV" [tooltipPosition]="'bottom'" (onClick)="tabelaVendas.exportCSV()"></p-button>
	</ng-template>

	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="idVenda">
				#
				<p-sortIcon field="idVenda"></p-sortIcon>
				<p-columnFilter type="numeric" field="idVenda" display="menu"></p-columnFilter>
			</th>
			<th pSortableColumn="nomeCliente">
				Cliente
				<p-sortIcon field="nomeCliente"></p-sortIcon>
				<p-columnFilter type="text" field="nomeCliente" display="menu"></p-columnFilter>
			</th>
			<th [pSortableColumn]="'dataVenda'">
				Data
				<p-sortIcon field="dataVenda"></p-sortIcon>
				<p-columnFilter type="date" field="dataVenda" display="menu"></p-columnFilter>
			</th>
			<th [pSortableColumn]="'quantidadeTotalProdutos'">
				Qtd. Produtos
				<p-sortIcon field="quantidadeTotalProdutos"></p-sortIcon>
				<p-columnFilter type="numeric" field="quantidadeTotalProdutos" display="menu"></p-columnFilter>
			</th>
			<th [pSortableColumn]="'valorTotalVenda'">
				Total
				<p-sortIcon field="valorTotalVenda"></p-sortIcon>
				<p-columnFilter type="numeric" field="valorTotalVenda" display="menu" currency="BRL"></p-columnFilter>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-venda>
		<tr>
			<td>
				{{ venda.idVenda }}
			</td>
			<td [ngStyle]="{'color': !venda.nomeCliente ? 'grey': ''}">
				{{ venda.nomeCliente ? venda.nomeCliente : 'Não informado' }}
			</td>
			<td>
				{{ venda.dataVenda | date:'dd/MM/yyyy'}}
			</td>
			<td>
				{{ venda.quantidadeTotalProdutos }}
			</td>
			<td>
				{{ venda.valorTotalVenda | currency : "BRL" : "R$ " : "1.2" }}
			</td>
		</tr>
	</ng-template>
</p-table>
